.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.img {
    display: none;
}

.navbar-brand {
    font-size: 1.1rem;
    font-weight: bold;
}

.btn-category {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

    .btn-category a {
        color: white;
        height: 50px;
        text-align: center;
        align-content: center;
        text-decoration: none;
        border: 1px solid rgba(242,242,242,.25);
        margin: 10px;
    }

        .btn-category a:hover {
            background-color: rgba(242,242,242,.25);
        }

.select {
    background-color: rgba(242,242,242,.25);
}

.unselect {
    background-color: transparent;
}

@media (min-width: 641px) {
    .navbar-brand {
        display: none;
    }

    .img {
        display: block;
        width: 100px;
    }


    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }

    .btn-category {
        display: grid;
        grid-template-columns: minmax(0,1fr);
    }
}
