@inject ICategoryService categoryService;
@if (categoryService.Categories == null || categoryService.Categories.Count() == 0)
{
	<span>Loading now...</span>
}
else
{

	<div class="top-row ps-3 navbar navbar-dark">
		<div class="cubic">
			<a href="https://x.com/TOFU_585" target="_blank">
				<img src="tpe_black.jpeg" id="img-logo" class="img-cubic" />
			</a>
			<a href="https://www.instagram.com/tofu_585/" target="_blank">
				<img src="x-icon.jpg" id="img-xicon" class="img-cubic" />
			</a>
		</div>
		<div class="container-fluid">
			<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</div>

	<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
		<nav class="flex-column">
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
					<span class="oi" aria-hidden="true">Home</span>
				</NavLink>
			</div>
			@foreach (var category in categoryService.Categories)
			{
				<div class="nav-item px-3">
					<NavLink class="nav-link" href="">
						<span class="oi" aria-hidden="true">@category.Name</span>
					</NavLink>
				</div>
			}
		</nav>
	</div>
}

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}

	protected override async Task OnInitializedAsync()
	{
		await categoryService.GetCategories();
	}
}
