<div class="top-row navbar navbar-dark">
	<div class="container-fluid">
		<a href="https://x.com/TOFU_585" target="_blank">
			<img src="tpe_black.jpeg" id="img-logo" class="img" />
		</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				Home
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="category/1/supergt">
				SUPER GT
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="category/2/superformula">
				SUPER FORMULA
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="category/3/supertaikyu">
				スーパー耐久
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="category/4/other">
				Other Race
			</NavLink>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;
	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
