.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
    height: 50px;
}

.cubic {
    width: 100%;
    display: block;
    transform-style: preserve-3d;
    perspective: 300px;
    width: 50px;
    margin: 0 auto;
    cursor: pointer;
}

    .cubic .img-cubic {
        width: 50px;
        position: absolute;
        border: 1px solid black;
        transition: all 1.5s;
        border-radius: 10px;
    }

#img-xicon {
    display: none;
}

.oi {
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .cubic {
        width: 120px;
        height: 100px;
    }

    #img-xicon {
        display: block;
    }

    .cubic .img-cubic {
        width: 100px;
        position: absolute;
        border: 1px solid black;
        transition: all 1.5s;
    }

    .cubic #img-logo {
        transform: rotateX(0);
    }

    .cubic #img-xicon {
        transform: rotateX(90deg);
        transform-origin: center center -50px;
    }

    .cubic:hover {
        #img-logo{
            transform: rotateX(-90deg);
            transform-origin: center center -50px;
        }

        #img-xicon {
            transform: rotateX(0);
            transform-origin: center center -50px;
        }
    }

.navbar-toggler {
    display: none;
}

.collapse {
    /* Never collapse the sidebar for wide screens */
    display: block;
}

.nav-scrollable {
    /* Allow sidebar to scroll for tall menus */
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
}

}

body {
}
