.navbar-toggler[b-az9lase5oa] {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-brand[b-az9lase5oa] {
    font-size: 1.1rem;
    font-weight:bold;
}

.cubic[b-az9lase5oa] {
    width: 100%;
    display: block;
    transform-style: preserve-3d;
    perspective: 300px;
    width: 50px;
    margin: 0 auto;
    cursor: pointer;
    display:none;
}

    .cubic .img-cubic[b-az9lase5oa] {
        width: 50px;
        position: absolute;
        border: 1px solid black;
        transition: all 1.5s;
        border-radius: 10px;
    }

.oi[b-az9lase5oa] {
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-az9lase5oa] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-az9lase5oa] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-az9lase5oa] {
        padding-bottom: 1rem;
    }

    .nav-item[b-az9lase5oa]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-az9lase5oa]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-brand[b-az9lase5oa] {
        display: none;
    }
    .cubic[b-az9lase5oa] {
        display:block;
        width: 120px;
        height: 100px;
    }

    #img-xicon[b-az9lase5oa] {
        display: block;
    }

    .cubic .img-cubic[b-az9lase5oa] {
        width: 100px;
        position: absolute;
        border: 1px solid black;
        transition: all 1.5s;
    }

    .cubic #img-logo[b-az9lase5oa] {
        transform: rotateX(0);
    }

    .cubic #img-xicon[b-az9lase5oa] {
        transform: rotateX(90deg);
        transform-origin: center center -50px;
    }

    .cubic:hover[b-az9lase5oa] {
        #img-logo{
            transform: rotateX(-90deg);
            transform-origin: center center -50px;
        }

        #img-xicon[b-az9lase5oa] {
            transform: rotateX(0);
            transform-origin: center center -50px;
        }
    }

.navbar-toggler[b-az9lase5oa] {
    display: none;
}

.collapse[b-az9lase5oa] {
    /* Never collapse the sidebar for wide screens */
    display: block;
}

.nav-scrollable[b-az9lase5oa] {
    /* Allow sidebar to scroll for tall menus */
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
}

}

body[b-az9lase5oa] {
}
