.category-content {
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-rows: auto minmax(0,1fr);
}

.filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box {
    margin: 3px;
}

    .box p {
        margin-bottom: 0;
        color: white;
    }

.gallery {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    overflow-y: auto;
}

.photo-content {
    cursor: pointer;
}

img {
    display: block;
    max-width: 300px;
    max-height: 200px;
    margin: 0 auto;
    object-fit: contain;
}

@media (max-width: 641px) {
    .filter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .gallery {
        grid-template-columns: minmax(0,1fr);
    }
}
